<!DOCTYPE html>
<html>
  <link rel="styleSheet" href="./styles/style.css"/>
  <body>
    <form action="/artist-search" method="get" class="form-example">
        <div class="form-example">
          <input class="input" type="name" name="artist" required>
        </div>
        <div class="form-example">
          <input class="submit" type="submit" value="Search for an Artist" >
        </div>
      </form>
  </body>
</html>